# =============================================
# Dependencies
# =============================================
node_modules
.next

# =============================================
# Version control
# =============================================
.git
.gitignore

# =============================================
# Logs
# =============================================
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# =============================================
# Docker cache files
# =============================================
.dockerignore
Dockerfile
docker-compose.yml

# =============================================
# Local environment
# =============================================
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# =============================================
# OS / Editor artifacts
# =============================================
.DS_Store
Thumbs.db
*.swp
*.swo
